<!DOCTYPE html>

<html  id="home" lang="en">

<%-include('./partials/head.ejs') %>

<body class="active">
<!---------------------------------------------- HEADERR ------------------------------------------------->
<%-include('./partials/nav.ejs') %>

   

          <!------------------------------- BODY HEADING -------------------------------------------->
          <div class="intro">
                    <h1 class="me-header"><span style="color:rgb(197, 89, 98);">Ben</span>jamin<span style="color:rgb(197, 89, 98);"> Dibley</span></h1>
                    <p class="sub-role">Front End Developer</p>
          </div>
    
                     
          
     
      
      <!--------------------------------------BODY WORK ------------------------------------------------>
      <div class="me-container">
         <div class="about-head-wrapper">
        <p class="about-para">Hi Im Ben, welcome to my Portfolio.<br> <br> I'm a self taught Frontend Developer specializing in the MERN stack and I'm ready to start living my passion by embarking on a career in the Tech industry. <br> <br> I'm a well travelled New Zealander who has spent the last 10 years living in the UK but have now relocated to the South of France. Take a look below at some of the projects I've been working on and check back frequently as I'm always updating features and working on new things.  </p>
        </div>
       
        <%-include('./partials/modal.ejs') %>

      </div>

       
        <%-include('./partials/projects.ejs') %>
        
     

        <%-include('./partials/contact.ejs') %>
            
              

        <!-- <%-include('./partials/feedback.ejs') %> -->

        <%-include('./partials/footer.ejs') %>





</body>
</html>


 