<html  id="home" lang="en">

<%-include('./partials/head.ejs') %>

<body class="active">
<!---------------------------------------------- HEADERR ------------------------------------------------->
<%-include('./partials/nav.ejs') %>

   

          <!------------------------------- BODY HEADING -------------------------------------------->
          <div class="intro">
                    <h1 class="me-header"><span style="color:rgb(197, 89, 98);">Ben</span>jamin <span style="color:rgb(197, 89, 98);">Dibley</span></h1>
                    <p class="sub-role" style="margin-top:-50px;margin-bottom:30px;">Front End Developer</p>

                    <div class="socials">
        
                      <a class="social-link" href="https://twitter.com/Dibdevs"><i class="fab fa-twitter"></i></a> 
                      <a class="social-link" href="https://github.com/Dibz-Dev"> <i class="fab fa-github"></i></a>
                      <a class="social-link" href="https://www.linkedin.com/in/dibs-dev/"><i class="fab fa-linkedin"></i></a>
                      </div>
                     
      </div>
     
      
      <!--------------------------------------BODY WORK ------------------------------------------------>
      <div class="me-container">
         <div class="about-head-wrapper">
        <p class="about-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum possimus a assumenda, aliquam amet eligendi dolores suscipit, perferendis quo magni at! Earum eligendi voluptatum tenetur rem libero animi magnam unde!LoremLorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum possimus a assumenda, aliquam amet eligendi dolores suscipit, perferendis quo magni at! Earum eligendi voluptatum tenetur rem libero animi magnam unde!Lorem</p>
        </div>
       
        <%-include('./partials/modal.ejs') %>

      </div>
       
        <%-include('./partials/projects.ejs') %>
        
     

<%-include('./partials/contact.ejs') %>
    
      



<%-include('./partials/footer.ejs') %>





</body>
</html>


 <!-- 
      
        
         -->
 <!-- <section class="projects-sect">
        <div class="latest-project-container">
          <h2 class="latest-project-header">My latest<br> Project</h2>
          <img class="arrow-container" src="/Arrow.svg" alt="">
        </div>
        <div class="project">
          <img src="/laptop-pic.jpg" alt="Project image" class="img-wrapper smaller-image">
          <h1 class="project-header">Brain Dump</h1>
          <p class="project-para">Brain Dump was originally created as a place where I could store my end of day learnings as a way of helping to solidify what I was learning.It was also a good starting project for me to integrate Node.js on the backend and work with MongoDB.<br><br><span><i data-project-icons class="fab fa-js-square"></i><i data-project-icons class="fab fa-node"></i><i data-project-icons class="fab fa-vuejs"></i></span></p>
        </div>
        <div class="browse-btn-container">
        <button class="browse-btn-style"><a class="project-link-style" href="./projects">Browse Projects</a></button>
        </div>
       
      
       
      </section>
       -->