<!DOCTYPE html>

<html  id="home" lang="en">

<%-include('./partials/head.ejs') %>

<body class="active">
<!---------------------------------------------- HEADERR ------------------------------------------------->
<div class="content">
<div>
<%-include('./partials/nav.ejs') %>

   
<div class="homeBackground"></div>
          <!------------------------------- BODY HEADING -------------------------------------------->
          <div class="intro">
                    <h1 class="me-header" style="margin-left: 50px;">Benjamin</h1>
                    <h1 class="me-header" style="margin-top: -30px; margin-left: 50px; color: grey;"> Dibley</h1>
                    <p class="sub-role" style="margin-top: -15px; margin-left: 50px;">Kia Ora! Welcome to my Portfolio.</p>

                    <div id="buttons" class="btn-wrapper">
                      <button class="btn-about" data-modal-target="#about">Things I Love...</button>
                      <button class="btn-about" data-modal-target="#tools">My Tool Box</button>
                  </div>
                  
          </div>
    
      
      <!--------------------------------------BODY WORK ------------------------------------------------>
      <div class="me-container">

        <%-include('./partials/modal.ejs') %>

         <div class="about-head-wrapper">
        <p class="about-para"> I'm a Frontend Developer and I'm ready to start living my passion by embarking on a career in the Tech industry. <br> <br> I'm a well travelled New Zealander who has spent the last 10 years living in the UK but have since relocated to the South of France. <br> 
                <!-- <br> I'm a big believer in protecting the environment and the world we live in. The World is changing fast which is why I would love to find a role thats committed to making the world a better place so that I could use my skills to work on projects that I really believe in.  -->
        </p>
        </div>
   
       

      </div>

       
        <%-include('./partials/projects.ejs') %>
        <!-- <div class="project-shopean-block active"> <%-include('./partials/subPartials/shopean.ejs') %> </div> -->
     

        <%-include('./partials/contact.ejs') %>
            
              

        <!-- <%-include('./partials/feedback.ejs') %> -->
      </div>
        <%-include('./partials/footer.ejs') %>


      </div>
     

</body>
</html>


 