<!DOCTYPE html>

<html  id="home" lang="en">

<%-include('./partials/head.ejs') %>

<body class="active">
<!---------------------------------------------- HEADERR ------------------------------------------------->
<%-include('./partials/nav.ejs') %>

   

          <!------------------------------- BODY HEADING -------------------------------------------->
          <div class="intro">
                    <h1 class="me-header"><span style="color:rgb(197, 89, 98);">Ben</span>jamin 
                        <br><span style="color:rgb(197, 89, 98);">Dibley</span></h1>
                    <p class="sub-role" style="margin-top:-50px;margin-bottom:30px;">Front End Developer</p>
          </div>
    
                     
          
     
      
      <!--------------------------------------BODY WORK ------------------------------------------------>
      <div class="me-container">
         <div class="about-head-wrapper">
        <p class="about-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum possimus a assumenda, aliquam amet eligendi dolores suscipit, perferendis quo magni at! Earum eligendi voluptatum tenetur rem libero animi magnam unde!LoremLorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum possimus a assumenda, aliquam amet eligendi dolores suscipit, perferendis quo magni at! Earum eligendi voluptatum tenetur rem libero animi magnam unde!Lorem</p>
        </div>
       
        <%-include('./partials/modal.ejs') %>

      </div>
       
        <%-include('./partials/projects.ejs') %>
        
     

        <%-include('./partials/contact.ejs') %>
            
              

        <!-- <%-include('./partials/feedback.ejs') %> -->

        <%-include('./partials/footer.ejs') %>





</body>
</html>


 